ADMIN_PASSWORD=change-this-admin-password
PAYER_KEYPAIR_JSON=[1,2,3]
GITHUB_TOKEN=ghp_or_fine_grained_token_here
RPC_URL=https://api.devnet.solana.com
MINT_ADDRESS=8CT28vWpZNebJrcuBjQTErMoUXsxQr2nj1gaUsrqURrw
OWNER_WALLET=8uvJhjUsUPguLgJLX5bkqWUhkdVS7SwiqGkCLv1nbqqW
METADATA_URL=https://raw.githubusercontent.com/srsystem2502/coin-project/main/metadata.json
GITHUB_REPO=srsystem2502/coin-project
DASHBOARD_CONFIG_JSON={"liquidityPair":"USDY/SOL"}
